CMH_ANESTHESIA_DATABASE_URL=postgresql+psycopg://cmh_anesthesia:CHANGE_ME@127.0.0.1:5432/cmh_anesthesia
CMH_ANESTHESIA_ADMIN_PASSWORD=CHANGE_ME_AT_LEAST_10_CHARACTERS
CMH_ANESTHESIA_SEED_USER_PASSWORD=CHANGE_ME_AT_LEAST_10_CHARACTERS
CMH_ANESTHESIA_COOKIE_SECURE=false
CMH_ANESTHESIA_TOKEN_PRINTER_NAME=
CMH_ANESTHESIA_SUMATRA_PATH=C:\Program Files\SumatraPDF\SumatraPDF.exe
